<!-- Login form -->
<div class="loginContainer">
  <h1>Login </h1>
  <form novalidate (ngSubmit)="onLogin(login)" #loginForm="ngForm">

    <div class="form-group">
      <label for="email">
        <b>Email</b>  
      </label> {{ email.valid}}
      <input type="text" class="form-control" [ngModel]="user.email" name="email" #email="ngModel" id="inputEmail" placeholder="Email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
      <!-- Email error block -->
      <div *ngIf="email.invalid && ( email.touched)" class="col-sm-3 text-danger">
        <div *ngIf="email.errors?.required">
          Email field can't be blank
        </div>
        <div *ngIf="email.errors?.pattern && email.touched">
          The email id doesn't seem right
        </div>
      </div>
    </div>

    <!-- Password block -->
    <div ngModelGroup="password" #userPassword="ngModelGroup">
      <div class="form-group ">
        <label for="inputPassword">
          <b>Password</b>
        </label>
        <input type="password" class="form-control" ngModel name="pwd" id="inputPassword" placeholder="Password" minlength="8" required>
      </div>


      <!-- Password error block -->
      <!-- <div *ngIf="(userPassword.invalid|| userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)"
        class="col-sm-3 text-danger">
        <ng-template #nomatch>
          Invalide username/password
        </ng-template>
      </div> -->
    </div> 

    <button class="btn btn-primary" [disabled]="!loginForm.form.valid" routerLink="/users"> Login </button>
  </form>
</div>